@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  overflow-x: hidden;
}
html,body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
img {
  user-select: none;
}
a {
  text-decoration: none;
}
* {
  outline: none;
}
*:not(.non-font) {
  font-family: "Montserrat";
  font-weight: 400;
}
::-webkit-scrollbar {
  display: none;
}
.margin {
  margin: 10px;
}
.header {
  width: 100%;
  height: 75px;
  background-color: rgb(47, 83, 192);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  transition: 200ms;
  position: fixed;
  top: 0px;
  z-index: 2;
}
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
button.header-button {
  border: 0px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 5px;
  user-select: none;
}
button.header-button::before {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: white;
  content: "";
  margin-top: -10px;
  transition-duration: 200ms;
  opacity: 0;
}
button.header-button:hover::before {
  opacity: 1;
}
button.rounded-button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  transition-duration: 200ms;
  transition-property: background-color,color;
  user-select: none;
  cursor: pointer;
}
button.rounded-button:hover {
  border-color: white;
  background-color: white;
  color: royalblue;
}
.ortala {
  display: flex;
  justify-content: center;
  align-items: center;
}
.body {
  margin-top: 75px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
#info1 {
  width: 100%;
  height: 100px;
  background-color: royalblue;
  color: white;
}
#info2 {
  flex-direction: column;
  margin-top: 30px;
  padding: 20px 0px 20px 0px;
}
.info-header {
  font-size: 25px;
  margin-bottom: 50px;
  font-weight: 700;
  text-align: center;
  max-width: 900px;
}
.info-props {
  flex-direction: column;
  display: flex;
}
.info-prop {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.prop-element {
  margin: 0px 50px 20px 50px;
  font-size: 15px;
  width: 230px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  text-align: start;
  flex-direction: column;
}
.prop-explanation {
  font-size: 13px;
}
.info-prop-header {
  margin-bottom: 10px;
  color: royalblue;
  font-weight: 700;
}
.bulten-cont {
  height: 150px;
  width: 100%;
  background-color: #1d1d1d;
  color: royalblue;
  flex-direction: column;
  display: flex;
}
button.main-button {
  border-radius: 20px;
  width: max-content;
  height: 50px;
  border: 2px solid royalblue;
  background-color: transparent;
  color: royalblue;
  cursor: pointer;
  padding: 0px 20px 0px 20px;
  transition-duration: 200ms;
  font-weight: 600;
}
button.main-button:hover {
  color: white;
  background-color: royalblue;
}
input.main-input {
  height: 50px;
  outline: none;
  border: 2px solid royalblue;
  border-radius: 20px;
  padding: 0px 20px 0px 20px;
  color: royalblue;
  background-color: transparent;
  margin: 10px;
  transition-duration: 200ms;
}
input.main-input:focus {
  background-color: royalblue;
  color: white;
}
input.main-input::placeholder {
  color: royalblue;
  opacity: 0.7;
}
input.main-input:focus::placeholder {
  color: white;
  opacity: 0.7;
}
.bulten-header {
  color: royalblue;
  display: flex;
  justify-content: flex-start;
}
.bulten-teknik-destek {
  color: royalblue;
  font-weight: 700;
}
.iletişim-cont {
  width: 100%;
  background-color: rgb(40, 67, 148);
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 50px 0px 10px 0px;
}
.iletişim {
  display: flex;
  flex-direction: row;
}
.inside-link-header {
  color: white;
  font-weight: 700;
  margin-bottom: 10px;
}
.text-link {
  cursor: pointer;
  color: #292929;
}
.text-link:hover {
  opacity: 0.8;
}
.iletisim-inputs-cont {
  margin: 0px 20px 0px 20px;
}
.iletisim-inputs-header {
  color: white;
  font-weight: 700;
  text-align: center;
}
.iletisim-inputs-input-cont {
  flex-direction: column;
  display: flex;
}
input.footer-input {
  height: 30px;
  margin-top: 10px;
  border-radius: 10px;
  border: 0px;
  background-color: white;
  padding: 0px 10px 0px 10px;
  color: royalblue;
  font-weight: 700;
  width: 300px;
  transition-duration: 200ms;
}
textarea.footer-textarea {
  border-radius: 10px;
  font-weight: 700;
  color: royalblue;
  height:100px;
  margin-top: 10px;
  padding: 10px 10px 10px 10px;
  resize: none;
  width:300px;
  border: 0px;
}
textarea.footer-textarea::placeholder {
  color: royalblue;
  opacity:.7;
}
input.footer-input::placeholder {
  color: royalblue;
  opacity: 0.7;
}
button.footer-button {
  width: 100px;
  border: 10px;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 10px;
  height: 30px;
  align-self: flex-end;
  color: white;
  font-weight: 600;
  transition-duration: 200ms;
  cursor: pointer;
  margin-top:10px;
}
button.footer-button:hover {
  background-color: white;
  color: royalblue;
}
.about-cont {
  display: flex;
  flex-direction: column;
  color: white;
}
.about-header {
  font-weight: 700;
  color: white;
}
.about-text {
  color: rgb(39, 39, 39);
  max-width: 250px;
  width: max-content;
  font-weight: 500;
  margin-top: 10px;
}
.bağlantılar {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.stat-title {
  color: royalblue;
  font-size: 20px;
  font-weight: 700;
}
.icon-link {
  width: 50px;
  height: 50px;
  border: 2px solid #1d1d1d;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  transition-duration: 200ms;
  cursor: pointer;
}
.icon-link:hover {
  background-color: #1d1d1d;
  box-shadow: 10px 10px 20px #1d1d1d;
}
.icon-link:hover .f-color {
  color: royalblue;
}
.icon {
  transform: rotate(-45deg);
}
.f-color {
  color: #1d1d1d;
}
.slider-cont {
  display: flex;
  align-items: center;
  height: min-content;
}
.arrow-button {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: rgba(39, 39, 39, 0.6);
  position: absolute;
  margin: 0px 10px 0px 10px;
  color: white;
  cursor: pointer;
  visibility: hidden;
  user-select: none;
  z-index: 1;
}
.arrow-right {
  right: 0px;
}
.arrow-left {
  left: 0px;
}
.slider-cont:hover .arrow-button {
  visibility: visible;
}
.flag {
  color: white;
  user-select: none;
  cursor: pointer;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  height: 30px;
  border-radius: 5px;
  transition-duration: 200ms;
  position: absolute;
  right: 10px;
}
.slider-img {
  user-select: none;
}
.statistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(39, 39, 39);
  height: 200px;
}
.statistic {
  width: 250px;
  text-align: center;
}
.statistic-div {
  display: flex;
}
.statistic-count {
  color: royalblue;
  margin: 10px 0px 10px 0px;
  font-size: 25px;
}
.statistic-text {
  color: white;
  margin: 10px 0px 10px 0px;
}
.hover-menu {
  position: absolute;
  width: max-content;
  max-width: 120%;
  box-shadow: 0px 25px 20px rgba(39, 39, 39, 0.5);
  height: min-content;
  background-color: rgb(47, 83, 192);
  top: 55px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  padding: 10px;
  flex-direction: column;
  z-index: 1;
}
.header-button-cont:hover > .hover-menu {
  opacity: 1;
  visibility: visible;
}
.hover-menu:hover {
  opacity: 1;
  visibility: visible;
}
.header-button:hover + .hover-menu {
  opacity: 1;
  visibility: visible;
}
.header-button-cont {
  display: flex;
  position: relative;
  justify-content: center;
  height: 60px;
  align-items: center;
}
.header-button-cont:hover .header-button::before {
  opacity: 1;
}
.hover-menu:hover + .header-button::before {
  opacity: 1;
}
.hover-menu-child {
  color: white;
  font-weight: 500;
  margin: 10px 0px 10px 0px;
  cursor: pointer;
  text-align: start;
  transition-duration: 200ms;
  user-select: none;
  font-size: 13px;
}
.hover-menu-child:hover {
  color: rgb(224, 224, 224);
  transition-duration: 200ms;
}
.hamburger {
  visibility: hidden;
  width:40px;
  height: 40px;
}
#hamburger-part1,
#hamburger-part2,
#hamburger-part3 {
  transition-duration: 200ms;
  transition-property: transform;
  transform-origin: center;
}
#hamburger-part1.hamburger-open {
  transform: rotate(45deg) translateY(30px);
}
#hamburger-part2.hamburger-open {
  opacity: 0;
}
#hamburger-part3.hamburger-open {
  transform: rotate(-45deg) translateY(-30px);
}
.contact-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.adresler {
  background-color: #1d1d1d;
  width: 100%;
  color: royalblue;
  text-align: start;
  display: flex;
  padding: 20px 0px 10px 30px;
}
.adres {
  font-weight: 500;
  margin: 0px 0px 10px 0px;
}
.contact-prop {
  margin: 5px;
  color: #1d1d1d;
  font-weight: 600;
}
.contact-props-cont {
  text-align: start;
  padding: 20px 0px 20px 30px;
  display: flex;
}
.arge-projects {
  width: 100%;
  background-color: #1d1d1d;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0px 20px 0px;
}
.social-projects {
  width: 100%;
  background-color: #1d1d1d;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding:20px 0px 20px 0px;
}
.project-cont {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0px 0px 0px 20px;
}
.step-text {
  font-size: 13px;
  color: royalblue;
  font-weight: 700;
}
.steps {
  margin: 10px 0px 10px 10px;
}
.step {
  margin: 10px 0px 10px 0px;
  width:500px;
  display: flex;
}
.step-index {
  margin-right: 10px;
  color: royalblue;
  font-weight: 600;
  font-size: 13px;
}
.arge-project-title {
  color: royalblue;
  font-weight: 700;
  max-width: 500px;
  text-align: start;
}
.arge-project-desc-cont {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-left: 20px;
}
.project-img {
  display: flex;
}
.colors {
  margin-left: 20px;
}
.color-parent-cont {
  display: flex;
  margin-left: 20px;
  height:25px;
  align-items: center;
  margin: 5px 0px;
  justify-content: space-evenly;
  position: relative;
}
.color-child-cont {
    width:450px;
    display: flex;
    margin-left: 10px;
    justify-content: space-around;
}
.color-box {
  height: 100%;
  width:40px;
  border-radius: 5px;
}
.color {
  margin:0px 5px;
}
.arge-project-desc {
  max-width: 650px;
  text-align: start;
  margin: 10px 10px 10px 10px;
  font-size: 12px;
}
.slider-text-cont {
  position: absolute;
}
.slider-text {
  color: white;
  font-weight: 700;
  font-size: 45px;
  max-width: 600px;
  text-align: center;
  background-color: #fb4360;
  padding: 20px 20px 20px 20px;
  transform: scale(.35);
  border-radius: 10px;
  cursor: pointer;
}
.slider-text:hover {
  text-decoration: underline;
}
.slider-text::selection {
  background-color: white;
  color: #fb4630;
}
.inner-project-cont {
  margin: 10px 0px 20px 0px;
}
.inner-projects {
  margin-top: 10px;
}
.inner-project-title {
  color: royalblue;
  font-weight: 600;
}
.bold-text {
  color: royalblue;
  font-weight: 700;
}
.inner-project-img {
  margin: 30px 0px 50px 25px;
  max-width: 300px;
}
.iletisim-child-cont {
  text-align: start;
  margin: 0px 10px 0px 10px;
}
.other-buttons {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: royalblue;
  visibility: hidden;
}
.other-buttons > .buttons {
  display: flex;
  flex-direction: column;
}
@media (max-width: 900px) {
  .header > .buttons {
    visibility: hidden;
    position: absolute;
  }
  .other-buttons > .buttons > .header-button-cont > .hover-menu {
    top: 12px;
    right: -140px;
    box-shadow: 0px 0px 0px;
    background-color: royalblue;
    border-top:1px solid white;
  }
  .other-buttons.visible {
    visibility: visible;
      z-index:1;
  }
  .other-buttons:not(.visible) {
    z-index: 0;
  }
  .of-y-hidden {
    overflow-y: hidden;
  }
  .flag {
    visibility: visible;
  }
  .info-prop {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .info-header {
    max-width: 500px;
  }
  .info-prop-header {
    text-align: center;
    width: 100%;
  }
  .prop-explanation {
    text-align: center;
    width: 100%;
  }
  .hamburger {
    position: absolute;
    left: 10px;
    cursor: pointer;
    visibility: visible;
  }
  .statistics {
    height: auto;
    padding: 20px 0px 20px 0px;
    flex-direction: column;
  }
  .statistic-div {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 850px) {
  .iletişim {
    display: flex;
    flex-direction: column;
  }
  .iletişim-cont {
    height: min-content;
    padding: 30px 0px 20px 0px;
  }
  .iletisim-child-cont {
    margin: 10px;
    text-align: center;
  }
  .about-cont {
    display: flex;
    align-items: center;
  }
  .about-text {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  .footer-input {
    text-align: center;
  }
  .footer-button {
    align-self: center !important;
    margin-bottom: 20px;
  }
  .bağlantılar {
    margin-bottom: 10px;
  }
  .project-img {
    width: 80vw;
  }
  .arge-project-desc {
    padding: 0px 20px 0px 0px;
  }
}
